<html>

<head>   
  
    <% include partials/head_calendrier %>

</head>

<body> 
 
    <% include partials/script_calendrier %>

    <nav id="IdMenu" class="Menu">
    <center><img class="logo" src = "./images/Greencode.png"/></center> 
        <ul class="Bouton">
            <li class="principal"><a href="/" target="_top" id="#Acceuil" class="#Acceuil" onclick="actif('#Acceuil')">Acceuil</a></li>
            <li class="principal"><a href="#Releves" target="_top" id="#Releves" class="#Releves" onclick="actif('#Releves')">Relevés</a>
                <ul>
                    <li id="ferme" class="secondaire"><a href="releves#ancreTempe">Température</a></li>
                    <li id="ferme" class="secondaire"><a href="releves#ancreTempe">Humidité</a></li>
                    <li id="ferme" class="secondaire"><a href="releves#ancreLumi">Intensité lumineuse</a></li>
                    <li id="ferme" class="secondaire"><a href="releves#graphFertilite">Fertilité</a></li>
                </ul>
            </li>
            <li class="principal"><a href="calendrier" target="_top" id="active" class="#Calendrier" onclick="actif('#Calendrier')">Calendrier</a></li>
            <li class="principal"><a href="pompes" target="_top" id="#Pompes" class="#Pompes" onclick="actif('#Pompes')">Pompes</a></li>
            <li class="principal"><a href="#Contacts" target="_top" id="#Contacts" class="#Contacts" onclick="actif('#Contacts')">Contacts</a></li>
            <li class="principal"><a href="tuto" target="_top" id="#Tuto" class="#Tuto" onclick="actif('#Tuto')">Tuto</a></li>
        </ul>
    </nav>

  <div id='calendar'></div>

</body>
</html>